.footerBanner {
  &__container {
    padding: 100px 40px;
    background-color: #f02d34;
    border-radius: 15px;
    position: relative;
    height: 400px;
    line-height: 1; 
    color: white;
    width: 100%;
    margin-top: 120px;
  }
  &____body {
  }
}

.bodyfooterBanner {
  display: flex ;
  justify-content: space-between;
  &__largeText {
    font-weight: 900;
    font-size: 80px;
    padding-left: 15px;
  }
  &__discount, &__saleTime {
    &:not(:last-child) {margin-bottom: 10px;}
  }
  &__right{
    line-height: 1.4;
  }
  &__midText {
    font-weight: 800;
    font-size: 60px;
  }
  &__smallText {
    font-size: 18px;
    &:not(:last-child) {margin-bottom: 10px;}
  }
  &__desc{
    font-size: 14px;
    font-weight: 500;
  }
  &__button {
    border-radius: 15px;
    padding: 10px 16px;
    background-color: white;
    color: red;
    border: none;
    margin-top: 40px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    z-index: 10000 !important;
    &:hover {
      border-radius: 7px;
    }
  }
  &__image {
    position: absolute;
    /* top: -35%;
    left: 8%; */
    top: -25%;
    left: 25%;
  }
}


