.productDetail {
  &__body {
    display: flex;
    gap: 40px;
    padding: 60px 40px 30px;
    color: #324d67;
  }
  &__images {}
  &__desc {}
  &__maylike {
    padding: 30px 0;
  }
}

.imagesProductDetail {
  &__mainImageContainer {
    overflow: hidden;
    position: relative;
    min-height: 400px;
    min-width: 400px;
    border-radius: 15px;
  }
  &__mainImage {
    transition: all 0.3s ease 0s;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    @media (any-hover: hover){
      .imagesProductDetail__mainImageContainer &:hover{
        transform: scale(1.07);
      }
    }
  }
  &__smallImagesContainer {
    display: flex;
    gap: 10px;
    margin-top: 20px;
  }
  &__smallImage {
    border-radius: 8px;
    background-color: #ebebeb;
    width: 70px;
    height: 70px;
    opacity: 0.75;
    transition: all 0.3s ease 0s;;
    cursor: pointer;
  }
  &__selectedImage {
    opacity: 1;
  }
}

.descProductDetail {
  &__name {
  }
  &__reviews {
    color: #f02d34;
    margin-top: 10px;
    display: flex;
    gap: 5px;
    align-items: center;
    p {
      color: #324d67;
      margin-top: 0px;
    }
  }
  &__detailsTitle {
    margin-top: 10px;
  }
  &__detailsText {
    margin-top: 10px;
    max-width: 75%;
  }
  &__price {
    font-weight: 700 ;
    font-size: 26px;
    margin-top: 30px;
    color: #324d67;
  }
  &__quantity {

  }
  &__cartButtons {
    display: flex;
    gap: 30px;
    margin-top: 40px;
  }
  &__cartButtonAdd, &__cartButtonBuy {
    border-radius: 15px;
    transition: border-radius 0.5s ease;
    width: 200px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    &:hover{
      border-radius: 7px;
    }
  }
  &__cartButtonAdd {  
    border: 1px solid #f02d34 ;
    background-color: white;
    color: #f02d34;
  }
  &__cartButtonBuy {
    background-color: #f02d34;
    color: white;
    border: none;
  }
}

.quantityProductDetail {
  display: flex;
  gap: 20px;
  margin-top: 10px;
  align-items: center;
  &__buttons {
    width: 100px;
	  height: 30px;
	  display: flex;
    border: 1px solid #324d67;
	  border-radius: 5px;
    span {
      font-size: 16px;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.3s ease 0s;
    }
  }
  &__minus, &__plus {
    flex: 0 0 30px;
    cursor: pointer;
    @media (any-hover: hover){
      &:hover{
        color: #f02d34;
      }
    }
  }
  &__num {
    flex: 1 1 auto;
    font-size: 20px;
  }
}

.maylikeProductDetail {
  &__title {
    text-align: center;
    color: #324d67;
    font-size: 28px;
  }
  &__marquee {
    position: relative;
    height: 400px;
    width: 100%;
    overflow-x: hidden;
    margin-top: 20px;
  }
  &__products {
    display: flex;
    justify-content: center;
    gap: 15px;
  }
}

.track {
  position: absolute;
  white-space: nowrap;
  will-change: transform;
  animation: marquee 15s ease-in infinite alternate;
  width: 180%;
  &:hover {
    animation-play-state: paused;
  }
  @keyframes marquee {
    from { transform: translateX(-25%); }
    to { transform: translateX(-50%); }
  }
}

